<% if current_user %>
  <dl>
    <dt>Your email</dt>
    <dd><%= current_user.email %></dd>
    <dt>Selected raffle</dt>
    <dd><%= current_user.raffle.name %></dd>
  </dl>
  <p>
    Thanks for signing up! Your odds of winning are <%= number_to_percentage(@odd_percentage, precision: 0) %>!
  </p>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to  "Sign Up", new_user_registration_path %>
<% end %>
